td {
  width: 33%;
  padding: 2px 5px 2px 9px;
  border: 1px solid rosybrown;
}

.sudoku {
  width: 100%;
  min-width: 320px; /* using min and max sizes from portrait and landscape modes in mobile */
  max-width: 568px;
  font-size: 1em;
  font-family: monospace;
}

.row {
  clear: left;
}

.block, input {
  text-align: center;
}

.block {
  margin-left: -1;
  margin-top: -2px;
  width: 33%;
  border: 3px solid palegreen;
  border-collapse: collapse;
  float: left;
  font-size: 2em;
}

input {
  margin: 0;
  padding: 0;
  width: 100%;
  border: none;
  color: black;
  background-color: white;
  font-size: 1em;
  font-family: monospace;
}

input:focus {
  outline: none;
}

input:disabled {
  color: black;
  /* ensure that disabled inputs look like normal text - using fill color for mobile quirks*/
  -webkit-text-fill-color: black;
  background-color: white;
  opacity: 1.0;
}

/*kill input number spinners on Webkit desktop*/
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; /* kill any leftover margin on hidden spinner*/
}

/*Firefox-specific spinner killing*/
input[type=number] {
  -moz-appearance: textfield;
}