.block, td {
    border: 1px solid rosybrown;
    border-collapse: collapse;
    padding: 5px 15px 5px 15px;
}

td {
  width: 33%;
}

.sudoku {
  table-layout: fixed;
  width: 500px;
  font-size: 1em;
  font-family: monospace;
}

.row {
  clear: left;
}

.block {
  font-size: 2em;
  border: 3px solid palegreen;
  margin-left: -1;
  margin-top: -2px;
  float: left;
}